body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

h1 {
    background-color: #24292e;
    color: #fff;
    padding: 20px 0;
    margin: 0;
    transition: background-color 0.3s;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #24292e;
}

button {
    background-color: #24292e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1a1f23;
}

#chart-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#contributions-chart {
    width: 100%;
}

canvas {
    transition: transform 0.3s;
}